# Ignore it until is presentable
docs

# Ignore MkDocs yml configuration file
*.yml

# Build stuff
build
*.img
*.elf
*.bin

# VS Code configs
.vscode/

# Screenshots
Screenshot_*

# Config files for testing
config-test-*.txt

# Doxygen stuff
html
latex